{% extends 'admin_base.html' %}

{% block main_content %}

<div class="container bg-white"><br>
    <div class="row d-flex justify-content-center align-content-center">
        <h3 class="text-center">Category Details</h3>
    </div>
    <br><br>
    <form action="{% url 'eapp:save_category' %}"method="POST">
        {% csrf_token %}
    
        {% comment %} Display Messages {% endcomment %}
        {% if messages %}
        <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    
        <!--  input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example1">Add Food Category :</label>
          <input type="text" id="form1Example1" class="form-control"name="category"placeholder="eg: South Indian, Arabic, Chinees Dishes" /> 
        </div>
      
       
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            
            <!-- Checkbox -->
          </div>
        </div>
      
        <!-- Submit button -->
        <div class=" d-flex justify-content-center align-content-center">
            <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
      </form>
      <br><br>
</div>
  

{% endblock main_content %}