{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- <div>
    {% for product in products %}
    <div>
        <img class="img-thumbnail" src="{{ product.image.url }}">
    </div>
    <div>
        <h2>{{ product.name }}</h2>
    </div>
    <div>
        <h4>Price</h4>
        <h4>{{ product.price }}</h4>
    </div>
    <div>
        <h4>Discription</h4>
        <h6>{{ product.description }}</h6>
    </div>
    <div>
        <h4>Stock in</h4>
      <h6>{{ product.stock }}</h6>
  </div>
  <div>
    {% if available %}
    <h6>Available</h6>
    {% else %}
    <h6>Not Available</h6>
    {% endif %}
</div>
    {% endfor %}
</div>
</div> -->
<div class="py-5">
    <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-10">
       <div class="row mx-auto">

          
        {% for product in products %}
           <div class="col-md-3 col-12">
              <a href=""> <img class="img-rounded img-thumbnail"src="{{ product.image.url }}"alt="product"style="height:10vw;width:15vw;"></a>
              <h5 class="text-center py-3"></h5>
           </div>
        {% endfor %}
   
           <!-- <div class="col-md-2">
              <a href=""> <img class=" img-thumbnail"src="{{ product.image.url }}"alt="product"></a>
              <h5 class="text-center py-3"></h5>
           </div>
   
           <div class="col-md-2">
              <a href=""> <img class="img-thumbnail"src="{{ product.image.url }}"alt="product"></a>
              <h5 class="text-center py-3"></h5>
           </div> 
   
           <div class="col-md-2">
              <a href=""> <img class=" img-thumbnail"src="{{ product.image.url }}"alt="product"></a>
              <h5 class="text-center py-3"></h5>
           </div>
   
           <div class="col-md-2">
               <a href=""> <img class=" img-thumbnail"src=""alt="porota"></a>
               <h5 class="text-center py-3">POROTTA & BEEF</h5>
           </div>

           <div class="col-md-2">
               <a href=""> <img class="img-thumbnail"src=""alt="burger"></a>
               <h5 class="text-center py-3">BURGER </h5>
           </div> -->
   
           

        </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>



{% endblock %}