<style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    footer {
      padding: 0px 0px 0px 0px;
      background-color: #24262b;
      margin: 0px;
  
    }

    .fa {
      font-size: 23px;
      width: 2em;
      height: 2em;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      padding-top: 0.5em;
  }

    .fa:hover {
      opacity: 0.5;
      text-decoration: none;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
      margin-top: 30px;
    }

    .fa-whatsapp {
      background: #25d366;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }

   footer p {
      text-align: center;
      
      font-weight: bold;
    }
  </style>

<footer class="footer">
    <p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-whatsapp"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
    </p>
        <br><br>
    <div class="container cont">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 footer-col ">
          <h4>Our Courses</h4>
          <ul>
            <li><a href="#">Class 11,12 Science</a></li>
            <li><a href="#">Class 11,12 Commerce</a></li>
            <li><a href="#">Class 11,12 Humanities</a></li>
            <li><a href="#">Class 11,12 Programming</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-12 footer-col">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-12 footer-col">
          <h4>Address</h4>
          <ul>
            <li><a href="#">Block:C 3rd Floor 41/2526-F, Mather Square Opp: North Railway Sattion, Kochi-18</a></li>
            <li><a href="#">+91 9212121212</a></li>
            <li><a href="#">Info@abctution.in</a></li>
            <li><a href="#">www.abctution.in</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-12 footer-col">
          <h4>Get Help</h4>
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">More Details</a></li>
            <li><a href="#">Payment Options</a></li>
            <li><a href="#">Cancellation</a></li>
          </ul>
        </div>
      </div>
    </div>     <br> <br> <br>
    <div class="container foot">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
            <p>ABC tution for all students<br>Kochi , Trivandrum , Kozhikode , Thrissur , Kottayam <br>
              &copy; 2022 all copyrights </p>
          </div>
        </div>
      </div>
    </div>
    
  </footer>