
{% extends 'base.html' %}
{% load static %}

{% block title %}

{% if category %}

{{ category.name }}

{% else %}

Men, Women & Kids Online Shopping - ABC Store 

{% endif %}

{% endblock %}

{% block content %}
{% if category %}
<div>
    <div>
        <p><a href="{% url 'eapp:allProducts_page' %}"></a></p>
    </div>
</div>
{% endif %}
<div>
    {% if category %}
    <h2>{{ category.name }}</h2>
</div>
{% else %}
<div>
    <img src="{% static 'img/banner.jpg' %}"alt="products image">
</div>
{% endif %}

<div>
    {% for product in products %}
    <div>
        <a><img src="{{ product.image.url }}"></a>
    </div>
    <h4>{{ product.name }}</h4>
    <p>{{ product.price }}</p>
    {% endfor %}
</div>
{% endblock %}